{% extends "base.html" %}
{% block title %}ПРО ТЕХНОЛОГИИ{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h5">
                <strong>PYTHON</strong>
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                рулит
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>
            <img src="{{ MEDIA_URL }}images/python-uses.jpg" alt="Это картинка" style="width:400px" hspace="20" vspace="20"><br>
            <p class="h4"> Проект социальной сети с возможностью:</p>
            - регистрации пользователей с контролем аутентификации через WEB и API(Token)<br>
            - создание и редактирование профиля с расширенными полями (день рождения, фото и т.д.)<br>
            - создание и редактирование постов<br>
            - подписка на любимых авторов (с возможностью отписаться)<br>
            - создание и редактирование комментариев к постам<br>
          </p>
          <br>
          <p>
          <p class="h4"> Дополнительный функционал:<p></p>
            - в проекте реализованы Django tests <a href="https://docs.djangoproject.com/en/dev/topics/testing/" target="_blank">(документация)</a> для проверки фунционала кода<br>
            - подключение <a href="/https://github.com/olegvpc/api_sp1_bot" target="_blank">Telegram bot</a> для получения информации о последнем посте (опрос API раз в 20 сек) и получение конкретного поста по запросу вида "/post 12" 
          </p>
          <br>
          <p>
            <p class="h4"> REST API проекта:<p>
            При использовании Swagger для методов POST/PATCH/PUT/DELETE необходимо авторизоваться введя в поле авторизации
            значение Token через пробел ПРИМЕР <strong>(Token rfd543vfc....gfddc)</strong><br>
            - Просмотр API спецификации через  <a href="/api/v1/swagger/" target="_blank">api/v1/swagger/</a><br>
            - Просмотр JSON спецификации через  <a href="/api/v1/swagger.json" target="_blank">api/v1/swagger.json</a><br>
            - Просмотр YAML спецификации через  <a href="/api/v1/redoc/" target="_blank">api/v1/redoc/</a><br>
          <br>
            <p class="h4"> GraphQL - API проекта (только метод Query):<p>
            - Просмотр API через  <a href="/api/v1/graphql/" target="_blank">api/v1/graphql/</a><br>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 